# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\03 Diplomado\Modulo 3\UCB_Tarea_Mobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
